<ion-header>
  <ion-toolbar color="dark">
    <ion-title text-center>Cadê Ônibus</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="medium">
  <form name="editForm" role="form" novalidate (ngSubmit)="login()" #editForm="ngForm">
    <ion-grid>
      <ion-row>
        <ion-col sizeSm="12" sizeMd="12" sizeLg="4" offsetLg="4">
          <div style="padding-top: 20%">
            <ion-card text-center color="light">
              <ion-card-header>
                <ion-card-title text-center>Login</ion-card-title>
              </ion-card-header>

              <ion-card-content>
                <ion-item color="light">
                  <ion-input type="email" placeholder="E-mail"></ion-input>
                </ion-item>
                <ion-item color="light">
                  <ion-input type="password" placeholder="Password"></ion-input>
                </ion-item>
                <div padding-vertical>
                  <ion-button type="submit" expand="block" color="primary">Entrar</ion-button>

                  <ion-label padding-horizontal>Ou</ion-label>

                  <ion-button expand="block" fill="outline" color="primary">
                    <ion-icon name="logo-google"></ion-icon>
                  </ion-button>
                  <ion-button expand="block" fill="outline" color="primary">
                    <ion-icon name="logo-facebook"></ion-icon>
                  </ion-button>
                  <ion-button expand="block" fill="outline" color="primary">
                    <ion-icon name="logo-twitter"></ion-icon>
                  </ion-button>
                </div>
              </ion-card-content>
            </ion-card>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>

<ion-footer>
  <ion-toolbar color="dark">
    <ion-grid>
      <ion-row>
        <ion-col size="6" offset="3">
          <ion-button expand="full" fill="clear" (click)="newAccount()">Nova Conta</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>

