<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-title text-center>Cadê Ônibus</ion-title>
  </ion-toolbar>
</ion-header>

<ion-menu contentId="main">
  <ion-button color="dark" (click)="sendToHome()">Home</ion-button>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-menu>

<ion-content padding color="medium">
  <ion-card color="light">
    <ion-card-header>
      <ion-card color="dark" padding-vertical>
        <ion-card-title text-uppercase text-center>{{ user.name }}</ion-card-title>
        <ion-card-subtitle text-center> {{ user.email }}</ion-card-subtitle>
      </ion-card>
    </ion-card-header>
    <ion-card-content text-center>
      <ion-label>Seus Ônibus</ion-label>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-label>Número: 517</ion-label>
            <br>
            <ion-label>Descrição: Sobradinho II (Buritis - DF-150) / W3 Norte - Sul</ion-label>
          </ion-col>
          <ion-col>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
