<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-title text-center>{{ appName }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-menu contentId="main">
  <ion-content>
    <ion-list>
      <ion-button color="dark" expand="block" (click)="sendToHome()">Home</ion-button>
      <ion-button color="dark" expand="block" (click)="logout()">Sair</ion-button>
    </ion-list>
  </ion-content>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-menu>

<ion-content color="medium">
  <ion-card color="light" *ngIf="!isEmpty">
    <ion-card-header>
      <ion-card color="dark" padding-vertical>
        <ion-card-title text-uppercase text-center>{{ user.name }}</ion-card-title>
        <ion-card-subtitle text-center> {{ user.email }}</ion-card-subtitle>
      </ion-card>
    </ion-card-header>
    <ion-card-content>
      <ion-title text-center>
        <ion-label>Suas Linhas</ion-label>
      </ion-title>
      <app-bus-list
        [onibus]="user.onibus"
        [disableCheckBox]=false>
      </app-bus-list>
    </ion-card-content>
    <ion-button expand="full" fill="clear" (click)="editUser()">Editar Dados</ion-button>
  </ion-card>

  <ion-card color="light" *ngIf="isEmpty">
    <ion-card-header>
      <ion-card padding-vertical padding-horizontal color="dark">
        <ion-card-title margin-bottom>
          <ion-progress-bar type="indeterminate" color="light"></ion-progress-bar>
        </ion-card-title>
        <ion-card-subtitle margin-bottom>
          <ion-progress-bar type="indeterminate" color="light"></ion-progress-bar>
        </ion-card-subtitle>
      </ion-card>
    </ion-card-header>
    <ion-card-content>
      <ion-title text-center>
        <ion-label>Suas Linhas</ion-label>
      </ion-title>
      <ion-card color="dark" padding-horizontal>
        <ion-progress-bar margin-vertical type="indeterminate" color="light"></ion-progress-bar>
      </ion-card>
    </ion-card-content>
    <ion-button expand="full" fill="clear" (click)="editUser()" [disabled]="isEmpty">Editar Dados</ion-button>
  </ion-card>
</ion-content>
