<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <app-sharing-location slot="end"></app-sharing-location>
  </ion-toolbar>
</ion-header>

<ion-content color="medium">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles">
    </ion-refresher-content>
  </ion-refresher>

  <ion-card color="light" *ngIf="!isLoading">
    <ion-card-header>
      <ion-card color="dark" padding-vertical text-center>
        <ion-card-title text-uppercase text-center>{{ user.name }}</ion-card-title>
        <ion-card-subtitle padding-bottom text-center> {{ user.email }}</ion-card-subtitle>
        <ion-text>Moedas: </ion-text> <ion-text color="warning">{{ user.moedas }}</ion-text>
      </ion-card>
    </ion-card-header>
    <ion-card-content>
      <ion-title text-center>
        <ion-label>Suas Linhas</ion-label>
      </ion-title>
      <app-bus-list
        [onibus]="user.onibus"
        [disableCheckBox]=false>
      </app-bus-list>
    </ion-card-content>
    <ion-button expand="full" fill="clear" (click)="editUser()" [disabled]="!successLoading">Editar Dados</ion-button>
  </ion-card>

  <ion-card color="light" *ngIf="isLoading">
    <ion-card-header>
      <ion-card padding-vertical padding-horizontal color="dark">
        <ion-card-title margin-bottom>
          <ion-progress-bar type="indeterminate" color="light"></ion-progress-bar>
        </ion-card-title>
        <ion-card-subtitle margin-bottom>
          <ion-progress-bar type="indeterminate" color="light"></ion-progress-bar>
        </ion-card-subtitle>
      </ion-card>
    </ion-card-header>
    <ion-card-content>
      <ion-title text-center>
        <ion-label>Suas Linhas</ion-label>
      </ion-title>
      <ion-card color="dark" padding-horizontal>
        <ion-progress-bar margin-vertical type="indeterminate" color="light"></ion-progress-bar>
      </ion-card>
    </ion-card-content>
    {{successLoading}}
    <ion-button expand="full" fill="clear" (click)="editUser()" disabled="true">Editar Dados</ion-button>
  </ion-card>
</ion-content>
