<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>Seu saldo: 50 moedas</ion-card-content>
  </ion-card>
    <ion-card>
      <ion-item>
        <!-- <ion-icon name="logo-usd" slot="start"></ion-icon> -->
        <ion-badge color="success">R$2,00</ion-badge>
        <ion-label>Pacote de 50 moedas</ion-label>
        <ion-button fill="outline" slot="end">Comprar</ion-button>
      </ion-item>
      <ion-card-content>
        Pacote com 50 moedas para remover as propagandas do aplicativo por um tempo determinado.
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-item>
        <!-- <ion-icon name="logo-usd" slot="start"></ion-icon> -->
        <ion-badge color="success">R$4,00</ion-badge>
        <ion-label>Pacote de 100 moedas</ion-label>
        <ion-button fill="outline" slot="end">Comprar</ion-button>
      </ion-item>
      <ion-card-content>
        Pacote com 100 moedas para remover as propagandas do aplicativo por um tempo determinado.
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-item>
        <!-- <ion-icon name="logo-usd" slot="start"></ion-icon> -->
        <ion-badge color="success">R$5,00</ion-badge>
        <ion-label>Pacote de 150 moedas</ion-label>
        <ion-button fill="outline" slot="end">Comprar</ion-button>
      </ion-item>
      <ion-card-content>
        Pacote com 150 moedas para remover as propagandas do aplicativo por um tempo determinado.
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-item>
        <!-- <ion-icon name="logo-usd" slot="start"></ion-icon> -->
        <ion-badge color="success">R$7,00</ion-badge>
        <ion-label>Pacote de 250 moedas</ion-label>
        <ion-button fill="outline" slot="end">Comprar</ion-button>
      </ion-item>
      <ion-card-content>
        Pacote com 250 moedas para remover as propagandas do aplicativo por um tempo determinado.
      </ion-card-content>
    </ion-card>
</ion-content>