<ion-header>
  <ion-toolbar>
    <ion-title text-center>Cadê Ônibus</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title text-center>Login</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-input type="email" placeholder="E-mail"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="password" placeholder="Password"></ion-input>
      </ion-item>
      <ion-button expand="block" color="primary">Login</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
