<ion-header>
  <ion-toolbar>
    <ion-title [color]="appColor" text-center>{{ appName }}</ion-title>
    <ion-progress-bar type="indeterminate" [color]="appColor" *ngIf="isLoading"></ion-progress-bar>
  </ion-toolbar>
</ion-header>

<ion-content [color]="appColor">
  <agm-map
    (mapReady)="mapsReady($event)"
    [latitude]="userPosition.latitude"
    [longitude]="userPosition.longitude"
    [zoom]="12">

    <ion-button
      #refresh
      margin-bottom
      expand="block"
      slot="icon-only"
      [color]="appColor"
      (click)="refreshBusPosition()">
      <ion-icon name="refresh"></ion-icon>
    </ion-button>

    <ion-button
      #search
      expand="block"
      margin-bottom
      [color]="appColor"
      (click)="findBus()">
      PROCURAR ÔNIBUS
    </ion-button>

    <ion-badge
      #currentBuss
      style="padding-top: 7px"
      margin
      [color]="appColor">
      ÔNIBUS ATUAL: {{ busCurrentPosition[0]?.properties?.linha }}
    </ion-badge>

    <agm-marker
    id="users-marker"
    [latitude]="userCurrentPosition.latitude"
    [longitude]="userCurrentPosition.longitude">
    </agm-marker>

    <agm-marker
      id="bus-marker"
      [iconUrl]="icons.dfTrans"
      *ngFor="let bus of busCurrentPosition"
      [latitude]="bus.geometry.latitude"
      [longitude]="bus.geometry.longitude">
    </agm-marker>
  </agm-map>
</ion-content>
