<ion-header>
    <ion-toolbar>
        <ion-title text-center [color]="appColor">
            {{ appName }}
        </ion-title>
        <ion-progress-bar type="indeterminate" [color]="appColor" *ngIf="isLoading"></ion-progress-bar>
    </ion-toolbar>
</ion-header>

<ion-content [color]="appColor">
    <!--  <ion-refresher slot="fixed" (ionRefresh)="getUser($event)">-->
    <!--    <ion-refresher-content-->
    <!--      pullingIcon="arrow-dropdown"-->
    <!--      pullingText="Arraste para atualizar"-->
    <!--      refreshingSpinner="circles">-->
    <!--    </ion-refresher-content>-->
    <!--  </ion-refresher>-->

    <ion-card color="white" *ngIf="!isLoading">
        <ion-item>
            <ion-title margin-top text-center text-wrap>MEUS ÔNIBUS</ion-title>
        </ion-item>
        <ion-card-content>
            <ion-button
                expand="block"
                fill="outline"
                [color]="appColor"
                (click)="onAddingBus()"
                *ngIf="user.bus.length <= 0">
                ADICIONAR ÔNIBUS
            </ion-button>

            <!--            BUS LIST-->
            <ion-reorder-group disabled="false" (ionItemReorder)="doReorder($event)">
                <div *ngFor="let b of user.bus; let last = last">
                    <ion-item-sliding>
                        <ion-item-options side="start">
                            <ion-item-option color="danger" (click)="deleteBus(b)">
                                <ion-icon name="trash" slot="icon-only" color="white"></ion-icon>
                            </ion-item-option>
                        </ion-item-options>

                        <ion-item
                            class="ion-activatable"
                            slot="start"
                            [lines]="canShowLine(last)"
                            [routerLink]="['/app/tabs/map/', b.numero]">
                            <ion-badge style="margin-right: 10px" color="dark">{{ b.numero }}</ion-badge>
                            <ion-label text-wrap text-center>{{ b.descricao }}</ion-label>
                            <ion-text
                                style="margin-left: 10px"
                                color="danger">
                                {{ b.faixaTarifaria.tarifa |  currency: 'R$ '}}
                            </ion-text>
                            <ion-ripple-effect></ion-ripple-effect>
                            <ion-reorder slot="end"></ion-reorder>
                        </ion-item>
                    </ion-item-sliding>
                </div>
            </ion-reorder-group>
        </ion-card-content>
    </ion-card>
    <ion-fab vertical="bottom" horizontal="start" slot="fixed">
        <ion-fab-button color="white" (click)="onAddingBus()">
            <ion-icon name="add" [color]="appColor"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
