<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()">
        <ion-icon name="arrow-back" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
    <app-sharing-location slot="end"></app-sharing-location>
    <ion-label text-center slot="end" padding-end color="primary">{{ onibus.numero }}</ion-label>
  </ion-toolbar>
</ion-header>

<ion-content color="medium">
  <agm-map [latitude]="userLocation[1]" [longitude]="userLocation[0]" [zoom]=12>
    <agm-marker
      [iconUrl]="icon.user"
      [latitude]="userLocation[1]"
      [longitude]="userLocation[0]">
      <agm-info-window>
        GGWP
      </agm-info-window>
    </agm-marker>

    <agm-marker
      [iconUrl]="icon.dfTrans"
      [latitude]="position.geometry.coordinates[1]"
      [longitude]="position.geometry.coordinates[0]"
      *ngFor="let position of busLocation">
      <agm-info-window>
        GGWP
      </agm-info-window>
    </agm-marker>

    <agm-marker
      [iconUrl]="icon.busUser"
      [latitude]="bus.cords.latitude"
      [longitude]="bus.cords.longitude"
      *ngFor="let bus of pagination.docs">
      <agm-info-window>
        GGWP
      </agm-info-window>
    </agm-marker>
  </agm-map>
</ion-content>

