<block-ui>
</block-ui>
<ion-header>
  <ion-toolbar>
    <ion-title>
      NO-NAME
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding [color]="contentColor">
  <ion-card padding text-center style="margin-top: 200px" color="white">
    <ion-card-title>ENTRAR</ion-card-title>
    <ion-card-content>
      <ion-button expand="block" fill="outline" color="primary" (click)="google()">
        <ion-icon name="logo-google"></ion-icon>
      </ion-button>

      <ion-label>OU</ion-label>

      <ion-button expand="block" fill="clear" color="primary" (click)="loginWithEmailPassword()">
        EMAIL E SENHA
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button expand="block" fill="clear" color="success" routerLink="/new-account">
      NOVA CONTA
    </ion-button>
  </ion-toolbar>
</ion-footer>
