<form [formGroup]="loginWithEmailForm" (ngSubmit)="saveEmailPassword()">
  <div *ngIf="isCreation">
    <ion-item>
      <ion-label position="floating" [color]="contentColor">NOME</ion-label>
      <ion-input
        name="name"
        formControlName="name">
      </ion-input>
    </ion-item>
    <div text-start *ngIf="nameValidations">
      <ion-text color="danger">{{ nameValidations }}</ion-text>
    </div>
  </div>

  <ion-item>
    <ion-label position="floating" [color]="contentColor">E-MAIL</ion-label>
    <ion-input
      autocomplete="true"
      name="email"
      formControlName="email">
    </ion-input>
  </ion-item>
  <div text-start *ngIf="emailValidations">
    <ion-text color="danger">{{ emailValidations }}</ion-text>
  </div>

  <ion-item>
    <ion-label position="floating" [color]="contentColor">SENHA</ion-label>
    <ion-icon slot="end" (click)="showPassword()" [name]="passwordIcon"></ion-icon>
    <ion-input
      inputmode="password"
      name="password"
      formControlName="password"
      [type]="passwordType">
    </ion-input>
  </ion-item>
  <div text-start *ngIf=passwordValidations>
    <ion-text color="danger">{{ passwordValidations }}</ion-text>
  </div>

  <ion-button
    margin-top
    expand="block"
    fill="outline"
    color="success"
    type="submit">
    {{ buttonText }}
  </ion-button>
</form>
