<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <app-sharing-location slot="end"></app-sharing-location>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list *ngIf="user">
    <ion-item-divider *ngFor="let onibus of user.onibus" (click)="followBus(onibus)">
      <ion-item lines="none">
        <ion-badge slot="start" color="dark">{{ onibus.numero }}</ion-badge>
        <ion-label text-wrap>{{ onibus.descricao }}</ion-label>
      </ion-item>
    </ion-item-divider>
  </ion-list>

  <!-- skeleton loading -->
  <div *ngIf="!user">
    <div class="ion-padding custom-skeleton">
      <ion-skeleton-text animated></ion-skeleton-text>
    </div>

    <ion-list>
      <ion-item>
        <ion-skeleton-text animated style="width: 50px; height: 20px" slot="start"></ion-skeleton-text>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="dark">
      <ion-icon name="arrow-dropup"></ion-icon>
    </ion-fab-button>

    <ion-fab-list side="top">
      <ion-fab-button color="medium">
        <ion-icon name="add-circle-outline"></ion-icon>
      </ion-fab-button>

      <ion-fab-button color="medium" *ngIf="!sharingLocationService.isSharing()" (click)="openPicker()">
        <ion-icon name="share"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="danger" *ngIf="sharingLocationService.isSharing()" (click)="stopSharing()">
        <ion-icon name="share"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
