<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-menu contentId="main">
  <!--<ion-label>Cadê Ônibus</ion-label>-->
  <ion-button color="dark">Perfil</ion-button>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-menu>
<ion-content padding color="medium">
</ion-content>
