<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()">
        <ion-icon name="arrow-back" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-avatar>
          <ion-img src="../../../../assets/img/coin.jpg" alt="coin"></ion-img>
        </ion-avatar>
        <ion-badge color="warning" margin-end>10 MOEDAS</ion-badge>
        <ion-button (click)="buyCoins(10)" color="primary" slot="end">R$1,90</ion-button>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-card>
      <ion-card-content>
        <ion-item>
          <ion-avatar>
            <ion-img src="../../../../assets/img/coin.jpg" alt="coin"></ion-img>
          </ion-avatar> 
          <ion-badge color="warning" margin-end>50 MOEDAS</ion-badge>
          <ion-button (click)="buyCoins(50)" color="primary" slot="end">R$8,90</ion-button>
        </ion-item>
      </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-content>
          <ion-item>
            <ion-avatar>
              <ion-img src="../../../../assets/img/coin.jpg" alt="coin"></ion-img>
            </ion-avatar>
            <ion-badge color="warning" margin-end>100 MOEDAS</ion-badge>
            <ion-button (click)="buyCoins(100)" color="primary" slot="end">R$17,90</ion-button>
          </ion-item>
        </ion-card-content>
      </ion-card>
</ion-content>