<ion-header>
    <ion-toolbar>
        <ion-title text-center [color]="appColor">
            {{ appName }}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-text *ngIf="errorMsg">{{ errorMsg }}</ion-text>

    <div *ngIf="isLoading" id="skeleton-text">
        <ion-item lines="none">
            <ion-skeleton-text animated style="height: 50px"></ion-skeleton-text>
        </ion-item>

        <ion-item lines="none">
            <ion-skeleton-text animated style="height: 50px"></ion-skeleton-text>
        </ion-item>

        <ion-item lines="none" margin-top>
            <ion-skeleton-text animated style="height: 40px"></ion-skeleton-text>
        </ion-item>
    </div>

    <form *ngIf="!errorMsg && !isLoading" [formGroup]="form" (ngSubmit)="submit()">
        <ion-item>
            <ion-label position="floating" [color]="appColor">E-mail</ion-label>
            <ion-input
                disabled
                formControlName="email"
                name="email">
            </ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="floating" [color]="appColor">Nova Senha</ion-label>
            <ion-input
                formControlName="newPassword"
                name="new-password"
                [type]="passwordFieldType">
            </ion-input>
            <ion-icon
                [name]="passwordIcon"
                slot="end"
                [color]="appColor"
                align-self-center
                (click)="onPasswordIconClick()">
            </ion-icon>
        </ion-item>
        <ion-button
            margin-top
            expand="block"
            type="submit"
            [color]="appColor">
            Enviar
        </ion-button>
    </form>
</ion-content>
