<block-ui>
</block-ui>
<ion-header>
    <ion-toolbar>
        <ion-title text-center [color]="appColor" routerLink="/">
            {{ appName }}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-grid style="height: 100%">
        <ion-row justify-content-center align-items-center style="height: 100%; flex-direction: column">
            <ion-card *ngIf="!isTokenExpired">
                <ion-card-header text-center>
                    <ion-card-title [color]="appColor">Crie sua nova senha</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    <form [formGroup]="form" (ngSubmit)="submit()">
                        <ion-item>
                            <ion-label position="floating" [color]="appColor">E-mail</ion-label>
                            <ion-input
                                disabled
                                formControlName="email"
                                name="email">
                            </ion-input>
                        </ion-item>

                        <ion-item>
                            <ion-label position="floating" [color]="appColor">Nova Senha</ion-label>
                            <ion-input
                                formControlName="newPassword"
                                name="new-password"
                                [type]="passwordFieldType">
                            </ion-input>
                            <ion-icon
                                [name]="passwordIcon"
                                slot="end"
                                [color]="appColor"
                                align-self-center
                                (click)="onPasswordIconClick()">
                            </ion-icon>
                        </ion-item>
                        <div *ngIf="passwordValidations" style="padding-top: 5px">
                            <ion-text color="danger"> {{ passwordValidations }}</ion-text>
                        </div>

                        <ion-button
                            margin-top
                            expand="block"
                            type="submit"
                            [disabled]="passwordValidations"
                            [color]="appColor">
                            Enviar
                        </ion-button>
                    </form>
                </ion-card-content>
            </ion-card>

            <ion-card *ngIf="isTokenExpired">
                <ion-card-header text-center>
                    <ion-card-title [color]="appColor">Esqueci a senha</ion-card-title>
                    <ion-card-subtitle>
                        Digite seu endereço de e-mail abaixo e enviaremos um link para redefinir sua senha
                    </ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    <form [formGroup]="form" (ngSubmit)="submitNewToken()">
                        <ion-item>
                            <ion-label position="floating" [color]="appColor">E-mail</ion-label>
                            <ion-input
                                formControlName="email"
                                name="email">
                            </ion-input>
                        </ion-item>
                        <div *ngIf="emailValidations" style="padding-top: 5px">
                            <ion-text color="danger"> {{ emailValidations }}</ion-text>
                        </div>

                        <ion-button
                            margin-top
                            expand="block"
                            type="submit"
                            [disabled]="emailValidations"
                            [color]="appColor">
                            Enviar
                        </ion-button>
                    </form>
                </ion-card-content>
            </ion-card>
        </ion-row>
    </ion-grid>
</ion-content>
