<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/auth/login"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="medium">
  <form name="editForm" role="form" (ngSubmit)="save()">
    <ion-grid>
      <ion-row>
        <ion-col sizeSm="12" sizeMd="12" sizeLg="4" offsetLg="4">
          <div style="padding-top: 20%">
            <ion-card text-center color="light">
              <ion-card-header>
                <ion-card-title text-center>Nova Conta</ion-card-title>
              </ion-card-header>

              <ion-card-content>
                <ion-item color="light">
                  <ion-input
                    required
                    email="true"
                    name="email"
                    type="email"
                    placeholder="E-mail"
                    [(ngModel)]="user.email">
                  </ion-input>
                </ion-item>
                <ion-item color="light">
                  <ion-input
                    required
                    name="name"
                    type="text"
                    placeholder="Nome"
                    [(ngModel)]="user.name">
                  </ion-input>
                </ion-item>
                <ion-item color="light">
                  <ion-icon slot="end" (click)="showPassword()" [name]="passwordIcon"></ion-icon>
                  <ion-input
                    required
                    type="password"
                    placeholder="Senha"
                    name="password"
                    [(ngModel)]="user.password">
                  </ion-input>
                </ion-item>
                <div padding-vertical>
                  <ion-button type="submit" expand="block" color="primary">Entrar</ion-button>
                </div>
              </ion-card-content>
            </ion-card>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
